
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stlesheet" href="style.css"/>

    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Demo project</title>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Links -->
        <ul class="navbar-nav">
          <!-- Brand -->
            <a class="navbar-brand" href="#">TTTT</a>
          <li class="nav-item">
            <a class="nav-link" href="#">Tuyển dụng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Liên Hệ 4T</a>
          </li>
          <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
              <form class="form-inline" action="/action_page.php">
                <input class="form-control mr-sm-2" type="text" placeholder="Tìm Kiếm">
                <button class="btn btn-success" type="submit">Tìm Kiếm</button>
              </form>
            </nav>       
        </ul>
      </nav>
      
      <br>
        
      <div class="container">
       
        <p>Chào mừng các bạn đến với rạp chiếu phim 4T!</p>
      </div>
      
 
    <div class="container">
      <h2>Rạp 4T</h2>
      <div class="btn-group">
        <button type="button" class="btn btn-primary">Phim</button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Phim đang chiếu</a>
          <a class="dropdown-item" href="#">Phim sắp chiếu</a>
        </div>
      </div>
      
      <div class="btn-group">
        <button type="button" class="btn btn-secondary">Rạp</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Tất cả các rạp</a>
          <a class="dropdown-item" href="#">Rạp đặc biệt</a>
          <a class="dropdown-item" href="#">Rạp sắp mở</a>
        </div>
      </div>
    
      <div class="btn-group">
        <button type="button" class="btn btn-success">Thành Viên</button>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        </button>
        <div class="dropdown-menu">         
          <a class="dropdown-item" href="#">Đăng nhập</a>
          <a class="dropdown-item" href="#">Đăng ký</a>
          <a class="dropdown-item" href="#">Quyền lợi</a>
        </div>
      </div>
    
      <div class="btn-group">
        <button type="button" class="btn btn-info">Cultureplex</button>
        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Quầy online</a>
          <a class="dropdown-item" href="#">Sự kiện & vé nhóm</a>
          <a class="dropdown-item" href="#">E-4T</a>
          <a class="dropdown-item" href="#">4T Restaurant</a>
          <a class="dropdown-item" href="#">Thẻ quà tặng!</a>
        </div>
      </div>

    
    </div>
      </div>
    </div>
        
          